<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
        <tr>
          <td align="center" style="padding: 0 0 0 0">
            <table
              border="0"
              cellpadding="0"
              cellspacing="0"
              style="padding: 0; margin: 0 auto; max-width: 900px"
              width="100%"
            >
              <tbody>
                <tr>
                  <td
                    align="center"
                    bgcolor="#333333"
                    height="100%"
                    valign="top"
                    width="100%"
                  >
                    <table
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      style="max-width: 900px"
                      width="100%"
                    >
                      <tbody>
                        <tr>
                          <td style="font-size: 0" valign="top">
                            <div
                              style="
                                display: inline-block;
                                max-width: 900px;
                                vertical-align: top;
                                width: 100%;
                              "
                            >
                              <table
                                border="0"
                                cellpadding="0"
                                cellspacing="0"
                                style="max-width: 900px"
                                width="100%"
                              >
                                <tbody>
                                  <tr>
                                    <td style="padding: 0 0 0 0">
                                      <table
                                        align="center"
                                        border="0"
                                        cellpadding="0"
                                        cellspacing="0"
                                        width="100%"
                                      >
                                        <tbody>
                                          <tr>
                                            <td
                                              style="
                                                padding: 15px 0 12px 15px;
                                                font-size: 18px;
                                                font-family: Roboto, Helvetica,
                                                  Arial, sans-serif;
                                                font-weight: normal;
                                                color: #ffffff;
                                                background-color: #333333;
                                              "
                                              width="100%"
                                            >
                                              <a
                                                href="https://support.ubisoft.com/en-GB/Cases/"
                                                style="
                                                  color: #ffffff;
                                                  text-decoration: none;
                                                  text-transform: uppercase;
                                                "
                                                target="_blank"
                                                data-saferedirecturl="https://www.google.com/url?q=https://support.ubisoft.com/en-GB/Cases/&amp;source=gmail&amp;ust=1659622571833000&amp;usg=AOvVaw3eq1NE9So31sFIbrZcPRuJ"
                                              >
                                                <img
                                                  height="38"
                                                  src="https://ci3.googleusercontent.com/proxy/_CM5SeJP9Whzr-fNQZZ_4yLkBpvRL6RXSKe55nwBTtXDsbLfo_gTq7ZCVe8mp-0OwMfYYT8-Bgl7o2qXtaC5f8jymftHJMdJHSE-B7svr5xK4_8zSw=s0-d-e1-ft#https://static.ubi.com/0078/assets/images/logo-ubisoft-support.png"
                                                  width="116"
                                                  class="CToWUd"
                                                  data-bit="iit"
                                                />
                                              </a>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>

        <tr>
          <td align="center" bgcolor="#ffffff" style="padding: 20px 0 25px 0">
            <table
              border="0"
              cellpadding="0"
              cellspacing="0"
              style="padding: 0 0 20px 0"
              width="100%"
            >
              <tbody>
                <tr>
                  <td
                    align="center"
                    height="100%"
                    style="padding-bottom: 20px"
                    valign="top"
                    width="100%"
                  >
                    <table
                      align="center"
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      style="max-width: 900px"
                      width="100%"
                    >
                      <tbody>
                        <tr>
                          <td align="center" style="font-size: 0" valign="top">
                            <div
                              style="
                                display: inline-block;
                                max-width: 900px;
                                vertical-align: top;
                                width: 100%;
                              "
                            >
                              <table
                                border="0"
                                cellpadding="0"
                                cellspacing="0"
                                style="max-width: 900px"
                                width="100%"
                              >
                                <tbody>
                                  <tr>
                                    <td style="padding: 20px 0 0 0">
                                      <div
                                        id="m_-6894683743612954542j_id0:emailTemplate:j_id3:j_id4:j_id18:j_id19:j_id20"
                                      >
                                        <table
                                          border="0"
                                          cellpadding="0"
                                          cellspacing="0"
                                          width="100%"
                                        >
                                          <tbody>
                                            <tr>
                                              <td style="padding: 0 15px">
                                                <table
                                                  align="center"
                                                  border="0"
                                                  cellpadding="0"
                                                  cellspacing="0"
                                                  width="100%"
                                                >
                                                  <tbody>
                                                    <tr>
                                                      <td
                                                        style="
                                                          padding: 0 0 5px 0;
                                                          font-size: 18px;
                                                          font-family: Roboto,
                                                            Helvetica, Arial,
                                                            sans-serif;
                                                          font-weight: normal;
                                                          color: #333333;
                                                        "
                                                      >
                                                        Hello zwayten,
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td
                                                        style="
                                                          padding: 10px 0 15px 0;
                                                          font-size: 16px;
                                                          line-height: 24px;
                                                          font-family: Roboto,
                                                            Helvetica, Arial,
                                                            sans-serif;
                                                          color: #666666;
                                                        "
                                                      >
                                                        Recently you requested
                                                        personal assistance from
                                                        <span class="il"
                                                          >Ubisoft</span
                                                        >
                                                        Support. As we have not
                                                        heard from you in the
                                                        last four days your case
                                                        has been closed
                                                        automatically.
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td
                                                        style="
                                                          padding: 10px 0 15px 0;
                                                          font-size: 16px;
                                                          line-height: 24px;
                                                          font-family: Roboto,
                                                            Helvetica, Arial,
                                                            sans-serif;
                                                          color: #666666;
                                                        "
                                                      >
                                                        Below you will find the
                                                        full transcript of your
                                                        ticket.
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td
                                                        style="
                                                          padding: 10px 0 15px 0;
                                                          font-size: 16px;
                                                          line-height: 24px;
                                                          font-family: Roboto,
                                                            Helvetica, Arial,
                                                            sans-serif;
                                                          color: #666666;
                                                        "
                                                      >
                                                        If this issue has NOT
                                                        been resolved to your
                                                        satisfaction, you may
                                                        reopen it at any time by
                                                        clicking on the link
                                                        below.
                                                      </td>
                                                    </tr>

                                                    <tr>
                                                      <td
                                                        style="
                                                          padding: 10px 0 15px 0;
                                                          font-size: 16px;
                                                          line-height: 24px;
                                                          font-family: Roboto,
                                                            Helvetica, Arial,
                                                            sans-serif;
                                                          color: #666666;
                                                        "
                                                      >
                                                        <strong>
                                                          Please do not
                                                          reply directly to this
                                                          email.
                                                        </strong>
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td
                                                        style="
                                                          padding: 10px 0 15px 0;
                                                          font-size: 16px;
                                                          line-height: 24px;
                                                          font-family: Roboto,
                                                            Helvetica, Arial,
                                                            sans-serif;
                                                          color: #666666;
                                                        "
                                                      ></td>
                                                    </tr>
                                                    <tr>
                                                      <td
                                                        style="
                                                          padding: 10px 0 15px 0;
                                                          font-size: 16px;
                                                          line-height: 24px;
                                                          font-family: Roboto,
                                                            Helvetica, Arial,
                                                            sans-serif;
                                                          color: #666666;
                                                        "
                                                      >
                                                        <div
                                                          id="m_-6894683743612954542j_id0:emailTemplate:j_id3:j_id4:j_id18:j_id19:j_id503:j_id504:j_id505"
                                                        >
                                                          Kind regards,<br /><span
                                                            class="il"
                                                            >Ubisoft</span
                                                          >
                                                          Support
                                                        </div>
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td>
                                                <div
                                                  id="m_-6894683743612954542j_id0:emailTemplate:j_id3:j_id4:j_id18:j_id19:j_id625:j_id626:j_id627"
                                                ></div>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td
                    align="center"
                    height="100%"
                    style="padding-bottom: 25px"
                    valign="top"
                    width="100%"
                  >
                    <table
                      align="center"
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      style="max-width: 900px; background-color: #f4f4f4"
                      width="100%"
                    >
                      <tbody>
                        <tr>
                          <th
                            colspan="2"
                            style="
                              padding: 15px 15px 13px 15px;
                              font-size: 16px;
                              font-family: Roboto, Helvetica, Arial, sans-serif;
                              font-weight: normal;
                              color: #ffffff;
                              background-color: #333333;
                            "
                          >
                            <span style="text-transform: uppercase"
                              >Ticket Details</span
                            >
                          </th>
                        </tr>
                        <tr>
                          <td
                            style="
                              padding: 14px;
                              font-size: 14px;
                              font-family: Roboto, Helvetica, Arial, sans-serif;
                              font-weight: normal;
                              color: #333333;
                            "
                          >
                            <strong>Case Reference #</strong>
                          </td>
                          <td
                            style="
                              text-align: right;
                              padding: 14px;
                              font-size: 16px;
                              font-family: Roboto, Helvetica, Arial, sans-serif;
                              font-weight: normal;
                              color: #333333;
                            "
                          >
                            1111111111111111
                          </td>
                        </tr>
                        <tr style="background-color: #dadada">
                          <td
                            style="
                              padding: 14px;
                              font-size: 14px;
                              font-family: Roboto, Helvetica, Arial, sans-serif;
                              font-weight: normal;
                              color: #333333;
                            "
                          >
                            <strong>Date Created</strong>
                          </td>
                          <td
                            style="
                              text-align: right;
                              padding: 14px;
                              font-size: 16px;
                              font-family: Roboto, Helvetica, Arial, sans-serif;
                              font-weight: normal;
                              color: #333333;
                            "
                          >
                            14/03/2020 @ 06:27
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              padding: 14px;
                              font-size: 14px;
                              font-family: Roboto, Helvetica, Arial, sans-serif;
                              font-weight: normal;
                              color: #333333;
                            "
                          >
                            <strong>Platform</strong>
                          </td>
                          <td
                            style="
                              text-align: right;
                              padding: 14px;
                              font-size: 16px;
                              font-family: Roboto, Helvetica, Arial, sans-serif;
                              font-weight: normal;
                              color: #333333;
                            "
                          >
                            PC
                          </td>
                        </tr>
                        <tr style="background-color: #dadada">
                          <td
                            style="
                              padding: 14px;
                              font-size: 14px;
                              font-family: Roboto, Helvetica, Arial, sans-serif;
                              font-weight: normal;
                              color: #333333;
                            "
                          >
                            <strong>Game</strong>
                          </td>
                          <td
                            style="
                              text-align: right;
                              padding: 14px;
                              font-size: 16px;
                              font-family: Roboto, Helvetica, Arial, sans-serif;
                              font-weight: normal;
                              color: #333333;
                            "
                          >
                            Game
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              padding: 14px;
                              font-size: 14px;
                              font-family: Roboto, Helvetica, Arial, sans-serif;
                              font-weight: normal;
                              color: #333333;
                            "
                          >
                            <strong>Category</strong>
                          </td>
                          <td
                            style="
                              text-align: right;
                              padding: 14px;
                              font-size: 14px;
                              font-family: Roboto, Helvetica, Arial, sans-serif;
                              font-weight: normal;
                              color: #333333;
                            "
                          >
                            category
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>

                <tr>
                  <td align="center" width="100%">
                    <div
                      id="m_-6894683743612954542j_id0:emailTemplate:j_id3:j_id4:j_id1541:j_id1542:j_id1543"
                    >
                      <table
                        align="center"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        style="max-width: 600px"
                        width="100%"
                      >
                        <tbody>
                          <tr>
                            <td
                              align="center"
                              style="
                                padding: 14px 0 12px 0;
                                font-size: 18px;
                                font-family: Roboto, Helvetica, Arial,
                                  sans-serif;
                                font-weight: normal;
                                color: #ffffff;
                                background-color: #ffffff;
                              "
                              width="50%"
                            >
                              <a
                                href="http://ubisoft.com"
                                style="border: 0"
                                target="_blank"
                                data-saferedirecturl="https://www.google.com/url?q=http://ubisoft.com&amp;source=gmail&amp;ust=1659622571833000&amp;usg=AOvVaw1HOOWH5hkEm9f35WPjt7TU"
                              >
                                <img
                                  border="0"
                                  height="38"
                                  src="https://ci5.googleusercontent.com/proxy/Jt48p0WwKoHudXeDMp_kqVRyjhFBYIOjDoAJXcoq5ldc9KMxLuwhZeltZe2Dnf1lKNJRl05zN7ftRzPbwVhkH2HAXW03yk0=s0-d-e1-ft#http://static.ubi.com/0078/emails/footer-ubisoft.png"
                                  width="116"
                                  class="CToWUd"
                                  data-bit="iit"
                                />
                              </a>
                            </td>
                            <td
                              align="center"
                              style="
                                padding: 14px 0 12px 0;
                                font-size: 18px;
                                font-family: Roboto, Helvetica, Arial,
                                  sans-serif;
                                font-weight: normal;
                                color: #ffffff;
                                background-color: #ffffff;
                              "
                              width="50%"
                            >
                              <a
                                href="https://club.ubisoft.com"
                                style="border: 0"
                                target="_blank"
                                data-saferedirecturl="https://www.google.com/url?q=https://club.ubisoft.com&amp;source=gmail&amp;ust=1659622571833000&amp;usg=AOvVaw2NhE3qa0W4RgP-sIgT25wM"
                              >
                                <img
                                  border="0"
                                  height="30"
                                  src="https://ci3.googleusercontent.com/proxy/QtvO-JjYhvaVmqVDBN2i6jtG6e3s37VvH7lVu0ZC98_R2Y9XoiYSW96i0HQFybcUdqS5M9kS6jLucv5RhebgvJh0enXXFLpWlR2RKv8z=s0-d-e1-ft#http://static.ubi.com/0078/emails/ubisoftclub_logo_blue.png"
                                  width="90"
                                  class="CToWUd"
                                  data-bit="iit"
                                />
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td
                    align="center"
                    bgcolor="#ffffff"
                    style="padding: 18px 0px"
                  >
                    <div
                      id="m_-6894683743612954542j_id0:emailTemplate:j_id3:j_id4:j_id1546:j_id1547:j_id1548"
                    >
                      <table
                        align="center"
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        style="max-width: 900px"
                        width="100%"
                      >
                        <tbody>
                          <tr>
                            <td
                              style="
                                font-size: 12px;
                                line-height: 14px;
                                font-family: Roboto, Helvetica, Arial,
                                  sans-serif;
                                color: #666666;
                              "
                            >
                              ©2020
                              <span class="il">Ubisoft</span> Entertainment. All
                              Rights Reserved. <span class="il">Ubisoft</span>,
                              Ubi.com and the
                              <span class="il">Ubisoft</span> logo are
                              trademarks of
                              <span class="il">Ubisoft</span> Entertainment in
                              the U.S. and/or other countries.
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
