.form-control:focus {
  box-shadow: none;
  border-color: #ba68c8;
}
.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none;
}
.profile-button:hover {
  background: #682773;
}
.profile-button:focus {
  background: #682773;
  box-shadow: none;
}
.profile-button:active {
  background: #682773;
  box-shadow: none;
}
.back:hover {
  color: #682773;
  cursor: pointer;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(249, 249, 249, 0.7);
  box-shadow: 0px 2px 4px rgba(100, 21, 255, 0.2); /* add box-shadow */
  z-index: 1;
}

.labels {
  font-size: 11px;
}
.add-experience:hover {
  background: #ba68c8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #ba68c8;
}
